# AWS
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=etl-snowflake-demo-johan

# Snowflake
SNOWFLAKE_ACCOUNT=rqc08816.us-east-1
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_contraseña
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=VENTAS_DB
SNOWFLAKE_SCHEMA=PUBLIC